<div class="app-container background-container">
  <!-- Navigation -->
  <nav class="navbar" *ngIf="authService && authService.isLoggedIn()">
    <div class="nav-brand">Task Manager</div>
    <div class="nav-links">
      <!-- แสดงเมนูเมื่อล็อกอินแล้ว -->
      <ng-container *ngIf="authService.isLoggedIn()">
<!--        <a routerLink="/tasks">-->
<!--          <i class="fas fa-tasks"></i> My Tasks-->
<!--        </a>-->

        <!-- เพิ่มปุ่ม Notification ตรงนี้ -->
        <app-notification-bell></app-notification-bell>

        <button class="logout-btn floating" (click)="authService.logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span class="logout-text">Logout</span>
        </button>

      </ng-container>

    </div>
  </nav>

  <!-- Main Content -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
    &copy; 2025 Task Manager
  </footer>
</div>
