<div class="login-page">
  <div class="login-container">
    <div class="login-box">
      <h2 class="title">Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="username" placeholder="username@gmail.com" />
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Password" />
        </div>

        <button type="submit" [disabled]="loginForm.invalid || isLoading">
          {{ isLoading ? 'Logging in...' : 'Sign in' }}
        </button>
      </form>


      <div class="register mt-4">
        Don’t have an account yet? <a [routerLink]="['/register']">Register for free</a>
      </div>
    </div>

    <div class="illustration">
      <img src="assets/logo.png" alt="Cartoon logo" />
    </div>
  </div>
</div>
